a:link {
	color: #2f373a;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #2f373a;
}
a:hover {
	text-decoration: none;
	color: #2f373a;
}
a:active {
	text-decoration: none;
}



.html, body {
	 height:100%;
	 background-color:#f6f6f6;	
	 font-family: arial,sans-serif;
}

.geral{
	margin-left:auto;
	margin-right:auto;
	min-height: 100%;
	position: relative;
	
		
}

.btn_voltar_cad{
	font-weight: bolder;
	width: 30px;
	color: white;
	text-align: center;
	border-right: 1px solid #a0b7bf;
	float: left;	
}

.btn_voltar_cad:hover{
	
	background: rgba(204,119,14,1);
background: -moz-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,119,14,1)), color-stop(100%, rgba(232,151,30,1)));
background: -webkit-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: -o-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: -ms-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: linear-gradient(to bottom, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc770e', endColorstr='#e8971e', GradientType=0 );
}

/* ######################## MENU ##################### */

.topo{
	position: fixed;
	top:0;
	z-index: 1000;
	width: 100%;
}
.menu_topo{
	float: left;
	margin-left: 10px;
	color: #9ca7ab;	
}

.item_menu{
	float:left;
	height: 50px;
	border-left: 2px solid #e3e9ec;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
}



.item_menu:hover{
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5cfd8+0,adc7d0+48,b5cfd8+51,adc7d0+100 */
background: #b5cfd8; /* Old browsers */
background: -moz-linear-gradient(top, #b5cfd8 0%, #adc7d0 48%, #b5cfd8 51%, #adc7d0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5cfd8), color-stop(48%,#adc7d0), color-stop(51%,#b5cfd8), color-stop(100%,#adc7d0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* IE10+ */
background: linear-gradient(to bottom, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5cfd8', endColorstr='#adc7d0',GradientType=0 ); /* IE6-9 */
	
}
/* ######################## FIM MENU ##################### */


/* ######################## FIM TOPO ##################### */

/* ######################## TURMAS ##################### */

.centro{
	float: left;	
		margin-top: 80px;
		/*height: 100%;*/
		width: 65%;
		margin-left: 50px;
		margin-right: auto;
		border: 1px solid #999;
		background-color: #fafafa;	
		position: relative;
		
}
.topo_centro{
	height: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adc7d0+0,b5cfd8+49,adc7d0+52,b5cfd8+100 */
background: rgba(235,164,77,1);
background: -moz-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,164,77,1)), color-stop(100%, rgba(232,151,30,1)));
background: -webkit-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -o-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -ms-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: linear-gradient(to bottom, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba44d', endColorstr='#e8971e', GradientType=0 );
}
.titulo_centro{
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}
.titulo1{
	margin-left: 12px;	
	font-size: 30px;
	color: #4d4f50;
}	

.add_turma{
	font-size: 25px;
	line-height: 1.0;
	-webkit-border-radius: 1000px;
	border: 1px solid #CCC;
	width: 25px;
	height: 25px;
	position:absolute;
	text-align: center;
	margin-left: 6px;
	margin-top: 6px;
}

.add_turma:hover{
	color: #666;	
}


.subtitulo1{
	margin-left: 12px;
	color: #a3a8aa;
	font-size: 14px;	
}

.linha_sup{
	margin-top: 25px;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #CCC;
}
.turma{
	padding-top: 8px;
	padding-bottom: 8px;
	height: 65px;	
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #CCC;
}

.turma_icon{
	float: left;	
}

.dados1_turma{
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	color: #4d4f50;
	font-size: 20px;
}

.qtd_aluno_turma, .create_by_turma{
	color: #939393;
	font-size: 14px;	
}

.dados2_turma{
	margin-top: 15px;
	margin-right: 5px;
	text-align: right;
	float: right;
	color: #939393;
	font-size: 14px;
}
.btn_entrar_turma{
	float: right;	
	margin-right: 20px;
	margin-top: 15px;
}
.turma:hover{
	background-color: #edf4f6;	
}

.not_turma_tit{
	font-size: 40px;
	text-align: center;	
}

.not_turma_sub{
	font-size: 30px;
	text-align: center;
}

.not_turma{
	margin-top: 60px;
	padding-bottom: 60px;
	color: #CCC;	
}


/* ########################## FIM TURMAS ################ */

/* ########################## CADASTRO TURMA ################ */
.form_nova_turma{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding-bottom: 20px;
}

.input{
	border: 1px solid #CCC;
	background-color: #FFF;	
	font-size: 12px;
	height: 20px;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	padding-left: 5px;
}

.input:focus{
	border: 1px solid #adc7d0;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	outline: none;
}

.btn_cad_turma{
	background-color: #F3F3F3;
	width: 270px;
	height: 28px;
	border: 1px solid #999;	
	-webkit-font-smoothing: antialiased;
	color: #000;
	box-shadow:  2px 3px 2px 0 rgba(0,0,0,.1);
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	transition:.2s;
	
}

.btn_cad_turma:hover{
	border: 1px solid #999;
	background-color: #adc7d0;
	color: #FFF;	
	cursor: pointer;
}

.img_icon{

}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:1px solid #09F;
}


/* ########################## FIM CADASTRO TURMA ################ */

/* ########################## PERFIL TURMA ################ */
.inst_cid_top_turma{
	float: left;
	margin-left: 10px;
	color: white;	
}

.p_turma{
	display: flex;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.turma_icon{
	float: left;	
}

.dados1_turma_p{
	margin-top: 0px;
	margin-left: 15px;
	width: 600px;
	color: #4d4f50;
	font-size: 20px;
	border-left: 1px solid #ea9e38;
	padding-left: 10px;
}

.qtd_aluno_turma, .create_by_turma{
	color: #939393;
	font-size: 14px;	
}

.dados2_turma_p{
	min-width: 100px;
	max-width: 300px;
	color: #939393;
	font-size: 14px;
	border-left: 1px solid #ea9e38;
}

.turma:hover{
	background-color: #edf4f6;	
}

.img_prof_disci{	
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
	overflow: hidden;
	width: 38px;
	height: 38px;
	border-radius: 1000px;
	border: 1px solid #666;
	margin-bottom: 7px;
	margin-top: 2px;
	margin-left: 7px;
}


.not_turma_tit{
	font-size: 40px;
	text-align: center;	
}

.not_turma_sub{
	font-size: 30px;
	text-align: center;
}

.not_turma{
	margin-top: 60px;
	padding-bottom: 60px;
	color: #CCC;	
}

.bar_p_turma_top{
	height: 5px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adc7d0+0,b5cfd8+49,adc7d0+52,b5cfd8+100 */
background: rgba(235,164,77,1);
background: -moz-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,164,77,1)), color-stop(100%, rgba(232,151,30,1)));
background: -webkit-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -o-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -ms-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: linear-gradient(to bottom, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba44d', endColorstr='#e8971e', GradientType=0 );	
}

.prof_d2_p_turma{
	margin-left: 6px;	
}

.dados_prof_topo{
	line-height: 1.3;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	color: #4d4f50;
}

.menu_perfil_turma{
	float:left;
	height: 30px;
	width: 100%;
	margin-top: 1px;
		
	font-size: 14px;
	color: #FFF;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adc7d0+0,b5cfd8+49,adc7d0+52,b5cfd8+100 */
background: rgba(235,164,77,1);
background: -moz-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,164,77,1)), color-stop(100%, rgba(232,151,30,1)));
background: -webkit-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -o-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: -ms-linear-gradient(top, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
background: linear-gradient(to bottom, rgba(235,164,77,1) 0%, rgba(232,151,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba44d', endColorstr='#e8971e', GradientType=0 );
}

.item_menu_perfil_turma{
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
	float: left;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #FFF;	
}
.item_menu_perfil_turma:hover{
	color: #FFF;
		background: rgba(204,119,14,1);
background: -moz-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,119,14,1)), color-stop(100%, rgba(232,151,30,1)));
background: -webkit-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: -o-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: -ms-linear-gradient(top, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
background: linear-gradient(to bottom, rgba(204,119,14,1) 0%, rgba(232,151,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc770e', endColorstr='#e8971e', GradientType=0 );
	
}

.item_info_user_turma{
	padding-left: 10px;
	padding-right: 10px;
	width: 275px;
	color: #FFF;
	float: left;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #FFF;	
}


.centro_perfil_turma{
	
	width: 100%;
}
.esquerda_perfil_turma{
	
	margin-left: 10px;
	
	float: left;
	font-size: 12px;
	padding-top: 10px;
	
}
.feed_perfil_turma{
	width:  45%;
	margin-left: 10px;
	border: 1px solid #000;
	float: left;
	font-size: 12px;
	margin-top: 10px;
	
}
.direita_perfil_turma{
	
	margin-left: 10px;
	
	float: right;
	font-size: 12px;
	padding-top: 10px;
	
}

  .direita_perfil{
	width: 100%;
	min-height: 180px;
	padding-bottom: 30px;
	float: left;
	background-color: #ececec;
	/*border-left: 1px solid #999;*/
	height: auto;
	position:relative;
	
}




.rodape_perfil_turma{
	clear: both;
	height: 1px;
	border: 1px solid #999;	
}

.bar_bg_stats{
	
	width: 100px;
	height: 7px;
	border: 1px solid #CCC;
	float: left;	
}

.lbl_lvl_stats{
	font-size: 10px;	
}

.btn_add_stat{
	cursor: pointer;
	height: 12px;	
	border: 1px solid #CCC;	
	line-height: 0.6;
	border-radius: 4px;
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9b9b9+0,c5c5c5+50,acacac+51,aeaeae+71,b0b0b0+100 */
background: #b9b9b9; /* Old browsers */
background: -moz-linear-gradient(top, #b9b9b9 0%, #c5c5c5 50%, #acacac 51%, #aeaeae 71%, #b0b0b0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9b9b9), color-stop(50%,#c5c5c5), color-stop(51%,#acacac), color-stop(71%,#aeaeae), color-stop(100%,#b0b0b0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b9b9b9 0%,#c5c5c5 50%,#acacac 51%,#aeaeae 71%,#b0b0b0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b9b9b9 0%,#c5c5c5 50%,#acacac 51%,#aeaeae 71%,#b0b0b0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b9b9b9 0%,#c5c5c5 50%,#acacac 51%,#aeaeae 71%,#b0b0b0 100%); /* IE10+ */
background: linear-gradient(to bottom, #b9b9b9 0%,#c5c5c5 50%,#acacac 51%,#aeaeae 71%,#b0b0b0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b9b9', endColorstr='#b0b0b0',GradientType=0 ); /* IE6-9 */
}

.btn_add_stat:hover{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dc9696+0,e2a8a8+50,d68282+51,d78585+71,d88888+100 */
background: #dc9696; /* Old browsers */
background: -moz-linear-gradient(top, #dc9696 0%, #e2a8a8 50%, #d68282 51%, #d78585 71%, #d88888 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc9696), color-stop(50%,#e2a8a8), color-stop(51%,#d68282), color-stop(71%,#d78585), color-stop(100%,#d88888)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dc9696 0%,#e2a8a8 50%,#d68282 51%,#d78585 71%,#d88888 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dc9696 0%,#e2a8a8 50%,#d68282 51%,#d78585 71%,#d88888 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dc9696 0%,#e2a8a8 50%,#d68282 51%,#d78585 71%,#d88888 100%); /* IE10+ */
background: linear-gradient(to bottom, #dc9696 0%,#e2a8a8 50%,#d68282 51%,#d78585 71%,#d88888 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc9696', endColorstr='#d88888',GradientType=0 ); /* IE6-9 */
}
.bar_preench_stats{
	
	
	height: 7px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.form_acess_turma{
	margin-top: 45px;
	height: 90px;
	font-size: 16px;	
}

.painel_alunos_turma{
	clear: both;
	border-top: 1px solid #CCC;	
	padding-top: 7px;
		
}

.img_aluno_turma{	
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
	overflow: hidden;
	width: 38px;
	height: 38px;
	border-radius: 1000px;
	border: 1px solid #666;
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 7px;
	float: left;	
}

.img_aluno_turma_s{	
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
	overflow: hidden;
	width: 38px;
	height: 38px;
	border-radius: 1000px;
	border: 2px solid #69C;
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 7px;
	float: left;	
}

.titulo_painel_alunos_turma{
	float: left;
}

.painel_img_alunos{
	clear: both;	
}

	a.tooltip_aluno{
  position:relative; 
  font-size:12px; 
  color:#039;
  text-decoration:none;
  }

  

  a.tooltip_aluno:hover{
  background:transparent;
  color:#f00;
  z-index:25; 

  }
  a.tooltip_aluno span{display: none
  }

  li.tooltip_aluno span{display: none
  }

  a.tooltip_aluno:hover span{
	  opacity: 0.9; 
  display:block;
  position:absolute;
  top:50px;
  width: 100px;
  padding: 2px;
  left:-30px;
  font-size: 12px;
  border:1px solid #999;
  text-align: center;
  background-color: #a0b7bf;
  color:#FFF;
  border-radius: 2px;
  }

  li.tooltip_aluno:hover span{
	  opacity: 0.9; 
  display:block;
  position:absolute;
  top:50px;
  width: 100px;
  padding: 2px;
  font-size: 12px;
  border:1px solid #999;
  text-align: center;
  background-color: #a0b7bf;
  color:#FFF;
  border-radius: 2px;
  }
  



.menu_topo_direita_turma{
	width: 97%;
	
	font-size: 12px;
	margin-top: 13px;
}
.topo_exc{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	display: flex; 
}

.topoesq_exc{
	
	width: 86%;

}

.prog_ex{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.btn_nova_conquista{
	
	padding: 4px;
	border-radius: 2px;
	border: 1px solid #CCC;
	color: white;
	
	background: #b5cfd8; /* Old browsers */
background: -moz-linear-gradient(top, #b5cfd8 0%, #adc7d0 48%, #b5cfd8 51%, #adc7d0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5cfd8), color-stop(48%,#adc7d0), color-stop(51%,#b5cfd8), color-stop(100%,#adc7d0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* IE10+ */
background: linear-gradient(to bottom, #b5cfd8 0%,#adc7d0 48%,#b5cfd8 51%,#adc7d0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5cfd8', endColorstr='#adc7d0',GradientType=0 ); /* IE6-9 */
}

.btn_nova_conquista:hover{
color: #FFF;
cursor: pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0b7bf+0,b1c7d3+49,a4bbc4+52,abc3cc+100 */
background: #a0b7bf; /* Old browsers */
background: -moz-linear-gradient(top, #a0b7bf 0%, #b1c7d3 49%, #a4bbc4 52%, #abc3cc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0b7bf), color-stop(49%,#b1c7d3), color-stop(52%,#a4bbc4), color-stop(100%,#abc3cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0b7bf 0%,#b1c7d3 49%,#a4bbc4 52%,#abc3cc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0b7bf 0%,#b1c7d3 49%,#a4bbc4 52%,#abc3cc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a0b7bf 0%,#b1c7d3 49%,#a4bbc4 52%,#abc3cc 100%); /* IE10+ */
background: linear-gradient(to bottom, #a0b7bf 0%,#b1c7d3 49%,#a4bbc4 52%,#abc3cc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0b7bf', endColorstr='#abc3cc',GradientType=0 ); /* IE6-9 */	
}

.lista_trophy_turma{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		border-top: 1px solid #CCC;
		margin-top: 5px;
}

/*button[type="button"]{
	width: 100%;

}*/

button[type="button"]{

	width: 100%;
}
.icon_trophy{
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 5px;
}

.dados_conq{	
	float:left;
	width: 70%;
}

.responder{
	float: right;
}

.titulo_conq{
	text-align: left;
	margin-top: 2px;
	font-size: 16px;
}

.descr_conq{
	text-align: left;
	font-size: 12px;
	color: #999;	
	
}

.linha_trophy{
	width: 100%;
	border: 1px solid #c1c0c0;
	padding-bottom: 4px;
	height: 45px;
	border-radius: 3px;
	background: #fff;
	
}	

.escopo_trophy{	
	padding-top: 5px;
	padding-bottom: 7px;
}

.linha_trophy:hover{
		background: linear-gradient( to bottom, #fff, #ccc 130%);
}

a.link_ex:hover{
	color: #2f373a;
}


.info_conq{
	float: right;
	margin-right: 10px;
}
.dados_exer_dir{
	display: flex;
	margin-top: 10px;
	text-align: right;
	
}

.container{
	margin-left: auto;
	margin-right: auto;
width: 50%;
text-align: center;
}

.newtrophy{
	-webkit-font-smoothing: antialiased;
}	

.novotrophy_input{
	border: 1px solid #CCC;
	background-color: #FFF;	
	font-size: 12px;
	height: 20px;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	padding-left: 5px;	
}

.novotrophy_input:focus{
	border: 1px solid #adc7d0;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	outline: none;
}

.btn_cadastrar{
	background-color: #F3F3F3;
	width: 270px;
	height: 28px;
	border: 1px solid #999;	
	-webkit-font-smoothing: antialiased;
	color: #000;
	box-shadow:  2px 3px 2px 0 rgba(0,0,0,.1);
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	transition:.2s;	
}

.btn_cadastrar:hover{
	border: 1px solid #999;
	background-color: #adc7d0;
	color: #FFF;	
	cursor: pointer;
}


.form_novo_trophy{
	margin-top: 20px;	
}

.input_login{
	border: 1px solid #CCC;
	background-color: #FFF;	
	font-size: 12px;
	height: 20px;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	padding-left: 5px;
}

.input_idade{
	border: 1px solid #CCC;
	background-color: #FFF;	
	font-size: 12px;
	height: 20px;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	padding-left: 5px;
}

.input_login:focus{
	border: 1px solid #adc7d0;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	outline: none;
}

.input_idade:focus{
	border: 1px solid #adc7d0;
	box-shadow:  1px 1px 1px 0 rgba(0,0,0,.05);
	border-radius: 5px;
	outline: none;
}

.btn_login{
	background-color: #F3F3F3;
	width: 270px;
	height: 28px;
	border: 1px solid #999;	
	-webkit-font-smoothing: antialiased;
	color: #000;
	box-shadow:  2px 3px 2px 0 rgba(0,0,0,.1);
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	transition:.2s;
	
}

.btn_login:hover{
	border: 1px solid #999;
	background-color: #adc7d0;
	color: #FFF;	
	cursor: pointer;
}

/* PÁGINA PARA RESOLUÇÃO DE EXERCÍCIO */

.geral_respex{
	width: 100%;
	border: 1px solid #000fff;
	margin-left: 10px;
	text-align: left;
}

.topo_respex{
	width: 100%;
	display: flex;	
	border: 1px solid #fa43f0;
}

.imgtrophy_respex{
	width: 50px;	
	padding: 5px;
}

.corpotopo_respex{
	width: 100%;	
}

.titulo_respex{
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	padding-top: 3px;
	margin-left: 10px;
}

.descr_respex{
	margin-left: 10px;
}

.enunciado_respex{
	border: 1px solid #ff545b;
	padding: 5px;
}

.corpomeio_respex{
	display: flex;
}
.meio_esq_respex{
	border:1px solid #99AB23;
}

.meio_dir_respex{
	
	margin-left: 5px;
	position: relative;
}

.ajuda_mat_respex{
	min-height: 80px;
}

.corpo_baixo_respex{
	display: flex;
}

.baixo_esq_respex{
	width: 530px;
}

.obs_respex{
	min-height: 120px;
}